Preentrega (1).json
{
  "name": "Preentrega",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -496,
        0
      ],
      "id": "1b8d7167-ed1f-42fc-95ad-d0d2106537b3",
      "name": "Schedule Trigger",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "url": "https://api.coingecko.com/api/v3/simple/price?ids=bitcoin&vs_currencies=usd&include_market_cap=true&include_24hr_vol=true&include_24hr_change=true",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -288,
        0
      ],
      "id": "0346ee18-5ef2-4f3f-888c-bb4f0723e52d",
      "name": "HTTP Request",
      "retryOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "46fc52c7-cd5b-4ae6-9475-1dfa49b698dc",
              "name": "precio",
              "value": "={{ $json.bitcoin.usd }}",
              "type": "string"
            },
            {
              "id": "6558fa69-e7f1-4721-bfc2-5370629070e7",
              "name": "fecha_consulta",
              "value": "={{ $now.setZone('America/Montevideo').toFormat('dd/MM/yyyy HH:mm') }}",
              "type": "string"
            },
            {
              "id": "ca1e1bd5-33a1-4ff8-80c5-f6b155322ac7",
              "name": "bitcoin.usd_24h_change",
              "value": "={{ $json.bitcoin.usd_24h_change }}",
              "type": "number"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        0
      ],
      "id": "c3f2ab7c-a127-4a54-bb5f-ec9d74550de1",
      "name": "Edit Fields",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "53058eaf-1cf9-495c-884c-40acfad9cf59",
              "leftValue": "={{ $json.bitcoin.usd_24h_change }}",
              "rightValue": -5,
              "operator": {
                "type": "number",
                "operation": "lte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        0
      ],
      "id": "3dd11669-2f71-428a-988c-806f4bf36746",
      "name": "If",
      "retryOnFail": true
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "eO8XAmN1JmH2rr4P",
          "mode": "list",
          "cachedResultName": "datos_bitcoin",
          "cachedResultUrl": "/projects/uDHYcAd1RK4y9hK2/datatables/eO8XAmN1JmH2rr4P"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "fecha_consulta": "={{ $json.fecha_consulta }}",
            "usd_24_change": "={{ $json.bitcoin.usd_24h_change }}",
            "precio": "={{ $json.precio }}",
            "moneda": "bitcoin"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "moneda",
              "displayName": "moneda",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "fecha_consulta",
              "displayName": "fecha_consulta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "precio",
              "displayName": "precio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "usd_24_change",
              "displayName": "usd_24_change",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        112,
        0
      ],
      "id": "e7a66a01-2e25-4589-ad1b-d37674bd6865",
      "name": "Insert row",
      "retryOnFail": true
    },
    {
      "parameters": {
        "sendTo": "andresperelmuter@gmail.com",
        "subject": "⚠️ Alerta BTC: Caída de {{ $json.bitcoin.usd_24h_change.toFixed(2) }}%",
        "message": "=\"Alerta de mercado: Bitcoin ha bajado a ${{ $json.precio }}.  Variación 24h: {{ $json.bitcoin.usd_24h_change }}%. Fecha de consulta: {{ $json.fecha_consulta }}\"",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        544,
        -144
      ],
      "id": "6d294719-ba52-45ae-8c45-59527e4066be",
      "name": "Send a message",
      "webhookId": "8f120874-0779-4495-b450-e030f695a376",
      "credentials": {
        "gmailOAuth2": {
          "id": "C9eli40isSVjahJl",
          "name": "Gmail account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert row": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send a message": {
      "main": [
        []
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "e25ae7dc-b5e8-43c0-8a08-a620bee12809",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "05c3941c3a8cfb2efd7ed696b0dc9976974d495e14e07add473e3639ceae91db"
  },
  "id": "AaI1Q_R6PSlXsXrcIBj9q",
  "tags": []
}